<div class="card text-center align-middle">
    <div class="card-body">
        <div class="view-adjust" [@loadAnimation]="state">
            <div class="block">
                <button type="button" [disabled]="submitted" class="btn my-btn " (click)="redeem()">
                    <span *ngIf="!submitted">{{ "REDEEM_POINTS.REDEEM_POINTS_BUTTON" | translate }}</span>
                    <i *ngIf="submitted" class="fa fa-spinner fa-pulse fa-lg fa-fw"> </i>
                </button>
                <div class="alert alert-success mt-3" role="alert" *ngIf="successMessage">{{ successMessage }}</div>
                <div class="alert alert-danger mt-3" role="alert" *ngIf="errorMessage">{{ errorMessage }}</div>
            </div>
        </div>
    </div>
</div>
