<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-2 col-sm-12 col-12">
            <img src="assets/resources/images/AmigoLogo.png" class="img-responsive" />
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3 col-sm-2"></div>
        <div class="col-md-6 col-sm-8">
            <!--ngSubmit directive specifies "changePasswordSubmit()" function to run when the form is submitted-->
            <form [formGroup]="form" (ngSubmit)="changePasswordSubmit()">
                <div class="form-group aw-input-group">
                    <input type="password" formControlName="password" required id="oldPassword" class="form-control" [attr.value]="form.controls.password.value?form.controls.password.value:''">
                    <label class="placeholder" for="oldPassword">{{ "CHANGE_PASSWORD.CURRENT_PASSWORD_PLACEHOLDER" | translate}}</label>
                    <div class="error-icon" *ngIf="form.controls.password.dirty">
                        <i *ngIf="form.controls.password.valid" class="fa fa-check fa-lg faa-burst valid"></i>
                        <i *ngIf="!form.controls.password.valid" class="fa fa-times fa-lg faa-burst invalid"></i>
                    </div>
                    <div class="error-message-bottom" *ngIf="form.controls.password.hasError('required')">
                        <span class="text-danger pull-right">{{ "CHANGE_PASSWORD.REQUIRED_FIELD" | translate }}</span>
                    </div>
                </div>
                <div class="aw-input-group form-group">
                    <input type="password" class="form-control" required formControlName="newPassword" id="newPassword" [attr.value]="form.controls.newPassword.value?form.controls.newPassword.value:''">
                    <label class="placeholder" for="newPassword">{{ "CHANGE_PASSWORD.NEW_PASSWORD_PLACEHOLDER" | translate }}</label>
                    <div class="error-icon" *ngIf="form.controls.newPassword.dirty">
                        <i *ngIf="form.controls.newPassword.valid" class="fa fa-check fa-lg faa-burst valid"></i>
                        <i *ngIf="!form.controls.newPassword.valid" class="fa fa-times fa-lg faa-burst invalid"></i>
                    </div>
                    <div class="error-message-bottom">
                        {{ "CHANGE_PASSWORD.PASSWORD.MIN_LENGTH_ERROR" | translate }}
                        <i *ngIf="!form.controls.newPassword.hasError('minlength')" class="fa fa-check faa-burst valid"></i>
                        <br>
                        {{ "CHANGE_PASSWORD.PASSWORD.UPPERCASE_ERROR" | translate }}
                        <i *ngIf="!form.controls.newPassword.hasError('uppercase')" class="fa fa-check faa-burst valid"></i>
                        <br>
                        {{ "CHANGE_PASSWORD.PASSWORD.LOWERCASE_ERROR" | translate }}
                        <i *ngIf="!form.controls.newPassword.hasError('lowercase')" class="fa fa-check faa-burst valid"></i>
                        <br>
                        {{ "CHANGE_PASSWORD.PASSWORD.NUMBER_ERROR" | translate }}
                        <i *ngIf="!form.controls.newPassword.hasError('number')" class="fa fa-check faa-burst valid"></i>
                        <br>
                        {{ "CHANGE_PASSWORD.PASSWORD.SPECIAL_CHARECTER_ERROR" | translate }}
                        <i *ngIf="!form.controls.newPassword.hasError('special')" class="fa fa-check faa-burst valid"></i>
                        <br>
                    </div>
                </div>
                <div class="form-group aw-input-group">
                    <input type="password" class="form-control" required formControlName="confirmNewPassword" id="confirmNewPassword" [attr.value]="form.controls.confirmNewPassword.value?form.controls.confirmNewPassword.value:''">
                    <label class="placeholder" for="confirmNewPassword">{{ "CHANGE_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER" | translate }}</label>
                    <div class="error-icon" *ngIf="form.controls.confirmNewPassword.dirty">
                        <i *ngIf="form.controls.confirmNewPassword.value == form.controls.newPassword.value" class="fa fa-check fa-lg faa-burst valid"></i>
                        <i *ngIf="form.controls.confirmNewPassword.value != form.controls.newPassword.value" class="fa fa-times fa-lg faa-burst invalid"></i>
                    </div>
                    <div class="error-message-bottom">
                    <!--The following line checks whether password and confirmPassword are same-->
                    {{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD_ERROR' | translate }}
                    <i *ngIf="form.controls.confirmNewPassword.value == form.controls.newPassword.value" class="fa fa-check faa-burst valid"></i>
                    <br/>
                </div>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="!form.valid || submitted" class="btn my-btn "><span *ngIf="!submitted">{{"CHANGE_PASSWORD.CHANGE_PASSWORD_BUTTON" | translate}}</span><i *ngIf="submitted" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></button><br>
                    <div class="centerBlock" *ngIf="successMessage!=null || redirectMessage!=null || message!=null">
                        <div class="text-success ">{{successMessage}}</div> <br>
                        <div class="text-info">{{redirectMessage}}</div>
                        <div class="text-danger">{{message}}</div>
                    </div>
                    <div class="centerBlock" *ngIf="(successMessage==null && redirectMessage==null)">
                        <a (click)="cancel()" class="cursor-pointer">{{"CHANGE_PASSWORD.CANCEL" | translate}}</a>
                    </div>
                </div>
            </form>

        </div>
    </div>