<div class="row">
    <div class="col-md-4 offset-md-2 col-sm-4 offset-sm-1 col-8 offset-xs-3">
        <img src="assets/resources/images/AmigoLogo.png" class="img-responsive" /> 
    </div>
    <div class="col-md-5 col-sm-6 col-12">
         <aw-login></aw-login> 
    </div>
</div>
<br><br>
<div class="row ">
    <div class="col-md-4 offset-md-1 col-sm-6 offset-sm-0 col-12">
        <span class="PrimaryText"><img src="assets/resources/images/WalletBlack.PNG" class=" pad " />{{ 'WELCOME.FEATURE_1' | translate }}</span>
        <br />

        <span class="PrimaryText"><img src="assets/resources/images/RewardGreen.PNG" class="pad" />{{ "WELCOME.FEATURE_2" | translate }}</span>
        <br />

        <span class="PrimaryText"><img src="assets/resources/images/OrangeTriangle.PNG" class=" pad " />{{ "WELCOME.FEATURE_3" | translate }}</span>
        <br />
        <br />
        <br />
    </div>
    <div class="col-md-3 offset-md-2 col-sm-5 offset-sm-0 col-12">
         <aw-register></aw-register> 
    </div>
    <br />
    <br />
</div>