# Build output
target/
build/

# Logs
*.log
logs/

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IDE - VS Code
.vscode/

# OS
.DS_Store
