<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-2 col-12">
            <img src="assets/resources/images/AmigoLogo.png" class="img-responsive" />
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!--ngSubmit directive specifies "authenticate()" function to run when the form is submitted-->
            <form [formGroup]="form" (ngSubmit)="authenticate()" *ngIf="step==0">
                <div class="form-group aw-input-group">
                    <input type="text" formControlName="emailId" id="emailId" required class="form-control" [attr.value]="form.controls.emailId.value?form.controls.emailId.value:''"
                    />
                    <label class="placeholder" for="emailId">{{ "FORGOT_PASSWORD.EMAIL_PLACEHOLDER" | translate }}</label>
                    <div class="error-icon" *ngIf="form.controls.emailId.dirty">
                        <i *ngIf="form.controls.emailId.valid" class="fa fa-check fa-lg faa-burst valid"></i>
                        <i *ngIf="!form.controls.emailId.valid" class="fa fa-times fa-lg faa-burst invalid"></i>
                    </div>
                    <div class="error-message-bottom">
                        <!--The following line is used to display the error message when name is in wrong format.
                        [hidden] attribute becomes false when pattern has an error and message is displayed-->
                        {{ 'FORGOT_PASSWORD.INVALID_EMAIL' | translate }}
                        <i *ngIf="!form.controls.emailId.hasError('pattern') && !form.controls.emailId.hasError('required')" class="fa fa-check faa-burst valid"></i>
                        <br/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="!form.valid || submitted" class="btn my-btn "><span *ngIf="!submitted">{{ "FORGOT_PASSWORD.FORGOT_PASSWORD_BUTTON" | translate }}</span><i *ngIf="submitted" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></button><br>

                    <div class="centerBlock" *ngIf="!(successMessage==null) || !(message==null)">
                        <div class="text-success">{{successMessage}}</div>
                        <div class="text-danger">{{message}}</div>
                    </div>
                    <div class="centerBlock">
                        <a [routerLink]="['/login']">{{ "FORGOT_PASSWORD.BACK_TO_LOGIN" | translate }}</a>
                    </div>
                </div>
            </form>

            <form [formGroup]="securityForm" (ngSubmit)="checkAnswer()" *ngIf="step==1">
                <div class="form-group aw-input-group question">{{user.securityQuestion.question}}</div>
                <div class="form-group aw-input-group">
                    <input type="text" formControlName="securityAnswer" id="securityAnswer" required class="form-control" [attr.value]="securityForm.controls.securityAnswer.value?securityForm.controls.securityAnswer.value:''"
                    />
                    <label class="placeholder" for="securityAnswer">{{ "FORGOT_PASSWORD.SECURITY_ANSWER_PLACEHOLDER" | translate }}</label>
                    <div class="error-icon" *ngIf="securityForm.controls.securityAnswer.dirty">
                        <i *ngIf="securityForm.controls.securityAnswer.valid" class="fa fa-check fa-lg faa-burst valid"></i>
                        <i *ngIf="!securityForm.controls.securityAnswer.valid" class="fa fa-times fa-lg faa-burst invalid"></i>
                    </div>
                    <div class="error-message-bottom">
                        <!--The following line is used to display the error message when name is in wrong format.
                        [hidden] attribute becomes false when pattern has an error and message is displayed-->
                        {{ 'FORGOT_PASSWORD.REQUIRED_FIELD' | translate }}
                        <i *ngIf="!securityForm.controls.securityAnswer.hasError('required')" class="fa fa-check faa-burst valid"></i>
                        <br/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="!securityForm.valid || submitted" class="btn my-btn "><span *ngIf="!submitted">{{ "FORGOT_PASSWORD.SECURITY_ANSWER_BUTTON" | translate }}</span><i *ngIf="submitted" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></button><br>

                    <div class="centerBlock" *ngIf="!(successMessage==null) || !(message==null)">
                        <div class="text-success">{{successMessage}}</div>
                        <div class="text-danger">{{message}}</div>
                    </div>
                    <div class="centerBlock">
                        <a [routerLink]="['/login']">{{ "FORGOT_PASSWORD.BACK_TO_LOGIN" | translate }}</a>
                    </div>
                </div>
            </form>
            <form [formGroup]="resetForm" id="resetForm" (ngSubmit)="resetPasswordSubmit()" *ngIf="step==2">
                <div class="form-group aw-input-group">
                    <input type="password" formControlName="newPassword" id="newPassword" required class="form-control" [attr.value]="resetForm.controls.newPassword.value?resetForm.controls.newPassword.value:''">
                    <label class="placeholder" for="newPassword">{{ "RESET_PASSWORD.NEW_PASSWORD_PLACEHOLDER" | translate }}</label>
                    <div class="error-message-bottom">
                        {{ "RESET_PASSWORD.PASSWORD.MIN_LENGTH_ERROR" | translate }}
                        <i *ngIf="!resetForm.controls.newPassword.hasError('minlength')" class="fa fa-check faa-burst valid"></i>
                        <br>
                        {{ "RESET_PASSWORD.PASSWORD.UPPERCASE_ERROR" | translate }}
                        <i *ngIf="!resetForm.controls.newPassword.hasError('uppercase')" class="fa fa-check faa-burst valid"></i>
                        <br>
                        {{ "RESET_PASSWORD.PASSWORD.LOWERCASE_ERROR" | translate }} 
                        <i *ngIf="!resetForm.controls.newPassword.hasError('lowercase')" class="fa fa-check faa-burst valid"></i>
                        <br>
                        {{ "RESET_PASSWORD.PASSWORD.NUMBER_ERROR" | translate }}
                        <i *ngIf="!resetForm.controls.newPassword.hasError('number')" class="fa fa-check faa-burst valid"></i>
                        <br>
                        {{ "RESET_PASSWORD.PASSWORD.SPECIAL_CHARECTER_ERROR" | translate }}
                        <i *ngIf="!resetForm.controls.newPassword.hasError('special')" class="fa fa-check faa-burst valid"></i>
                        <br>
                    </div>
                    <div class="error-icon" *ngIf="resetForm.controls.newPassword.dirty">
                        <i *ngIf="resetForm.controls.newPassword.valid" class="fa fa-check fa-lg faa-burst valid"></i>
                        <i *ngIf="!resetForm.controls.newPassword.valid" class="fa fa-times fa-lg faa-burst invalid"></i>
                    </div>
                </div>
                <div class="form-group aw-input-group">
                    <input type="password" formControlName="confirmNewPassword" id="confirmNewPassword" required class="form-control" [attr.value]="resetForm.controls.confirmNewPassword.value?resetForm.controls.confirmNewPassword.value:''">
                    <label class="placeholder" for="confirmNewPassword">{{ "RESET_PASSWORD.CONFIRM_NEW_PASSWORD_PLACEHOLDER" | translate }}</label>

                    <div class="error-message-bottom">
                        <!--The following line checks whether password and confirmPassword are same-->
                        {{ 'RESET_PASSWORD.CONFIRM_PASSWORD_ERROR' | translate }}
                        <i *ngIf="resetForm.controls.confirmNewPassword.value != resetForm.controls.newPassword.value" class="fa fa-check faa-burst valid"></i>
                        <br/>
                    </div>

                    <div class="error-icon" *ngIf="resetForm.controls.confirmNewPassword.dirty">
                        <i *ngIf="resetForm.controls.newPassword.value == resetForm.controls.confirmNewPassword.value" class="fa fa-check fa-lg faa-burst valid"></i>
                        <i *ngIf="resetForm.controls.newPassword.value != resetForm.controls.confirmNewPassword.value" class="fa fa-times fa-lg faa-burst invalid"></i>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="!resetForm.valid || resetForm.controls.newPassword.value != resetForm.controls.confirmNewPassword.value || submitted" class="btn my-btn "><span *ngIf="!submitted">{{ "RESET_PASSWORD.RESET_PASSWORD_BUTTON" | translate }}</span><i *ngIf="submitted" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i></button><br>
                </div>
                <div class="centerBlock" *ngIf="!(successMessage==null) || !(redirectMessage==null) || !(message==null)">
                    <div class="text-success ">{{successMessage}}</div> <br>
                    <div class="text-info">{{redirectMessage}}</div>
                    <div class="text-danger">{{message}}</div>
                </div>
            </form>
        </div>
    </div>