.centerBlock {
    display: block;
    text-align: center;
}
.centerBlock a {
    font-size: 10pt;
    color: coral;
    text-decoration: underline;
}
.centerBlock a:hover {
    font-size: 10pt;
    color: orangered;
}
.aw-input-group {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.question {
    font-weight: bolder;
    font-size: large;
    text-align: center;
}