/target/
!.mvn/wrapper/maven-wrapper.jar

### IDE / editor ###
.idea/
*.iws
*.iml
*.ipr
.settings/
.classpath
.project
.pmd
.apt_generated
.factorypath
.springBeans
.sts4-cache

### build output ###
/build/
/bin/
/dist/

### logs ###
*.log
logger.log*
logs/
test-output/

### OS ###
.DS_Store
._*
*.tmp
